body {
    /* display: flex; */
    background-image: url(/image/Screenshot\ from\ 2023-09-16\ 11-25-34.png);
    object-position: center;
    object-fit: cover;
    background-size: cover;
}

.container {
    background-color: white;
    max-width: 400px;
    margin: 10vh auto 0 auto;
    border-radius: 4ch;

    box-shadow: 0px 0px 43px 17px rgb(255, 255, 255);
}

#display {
    text-align: right;
    height: 75px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    border-radius: 90%;
    border-bottom: #91928e;
}    

.buttons {
    box-shadow: 0px 0px 43px 17px rgb(120, 118, 118);
    border-bottom-left-radius: 1ch;
    border-bottom-right-radius: 1ch;
    /* background-image: url(image/black.jpg);
    object-position: center;
    object-fit: cover;
    background-size: cover; */
    background-color: #222222;
    display: grid;
    border-bottom: 1px solid #a3a3a3;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 10px;
}

/* div {
    background-image: url(image/black.jpg);
    border-radius: 29%;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
} */


.buttons > div {
    background-image: url(image/black.jpg);
    /* object-position: center;
    object-fit: cover;
    background-size: cover; */
    color: rgb(255, 255, 255);
    font-size: 40;
    border-radius: 29%;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-image: url(image/black.jpg);
    color: rgb(218, 210, 210);
}

.button:hover{
    background-image: url(image/black.jpg);
    /*background-color: #222222;
    */object-fit: cover;
    object-position: center;
    background-size: cover;
    color:white;
    transition: 0.5s ease-in-out;
    